apiVersion: apps/v1
kind: Deployment
metadata:
  name: smartinv-frontend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: smartinv-frontend
  template:
    metadata:
      labels:
        app: smartinv-frontend
    spec:
      containers:
        - name: frontend
          image: acrsmartinventorydevops.azurecr.io
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 10
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: smartinv-frontend
spec:
  selector:
    app: smartinv-frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
  type: LoadBalancer
